*{padding: 0; margin: 0; box-sizing: border;}
            header{
                width: 100%;
                height: 100vh;
                background: url('c.jpg');
                background-size: cover;
                font-family: sans-serif;
            }
            nav{
                width: 100%;
                height: 100px;
                color: white;
                display: flex;

                align-items: center;
            }
            .logo{
                font-size: 2em;
                letter-spacing: 2px;
            }
            .menu a{
                text-decoration: none;
                color: white;
                padding: 10px 20px;
                font-size: 20px;
                border-radius: 8px;
                transition: 0.4s;
            }
            .menu a:hover{
                background: transparent;
                border:1px black;

            }         
            .register a{
                text-decoration: none;
                color: white;
                padding: 10px 20px;
                font-size: 20px;
                background: black;
                border-radius: 8px;
                transition: 0.4s;
            }
            .register a:hover{
                background: transparent;
                border:1px black;

            }
            .adv{
                max-width: 650px;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
                text-align: center;
                color: white;
            }
            .adv span{
                 letter-spacing: 5px;
            }
            .adv h1{
                font-size: 3.5em;
            }
            .adv a{
                text-decoration: none;
                background: black;
                color: white;
                padding: 10px 20px;
                letter-spacing: 5px;
            }
            .button{
                text-decoration: none;
                color: white;
                padding: 10px 20px;
                font-size: 20px;
                background: black ;
                transition: 0.4s;
            }
            .adv1 {
                position: absolute;
                right: 550px;
                bottom: 295px;
               
               

            }
            .adv1 {
                padding: 20px;
                box-shadow: 0 4px 8px rgba(0, 0, 0, 0.729);
                color: #333;
                transition: transform 0.3s ease-in-out;
}
.adv2 {
    position: absolute;
    right: 300px;
    bottom: 295px;
   
   

}
.adv2 {
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.729);
    color: #333;
    transition: transform 0.3s ease-in-out;
}
.adv5 {
    position: absolute;
    right: 50px;
    bottom: 295px;
}
.adv5 {
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.729);
    color: #333;
    transition: transform 0.3s ease-in-out;
}
.p{
    position: absolute;
    right: 60px;
    bottom: 220px;
}
.p {
    padding: 20px;
    float: right;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.729);
    color: black ;
    transition: transform 0.3s ease-in-out;
}

.A{
    position: absolute;
    right: 45px;
    bottom: 80px;
}
.A{
    padding: 20px;
    float: right;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.729);
    color: black ;
    transition: transform 0.3s ease-in-out;
}
.footer{
    background-color:black ;
}
footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
